<button [routerLink]="['/employees']" class="btn btn-primary">
  Employee List
</button>

<div class="container">
  <h2 class="my-4">Employee Entry Form</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input id="name" type="text" class="form-control" formControlName="name">
      <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
        Employee Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="dateOfBirth" class="form-label">Date of Birth:</label>
      <input id="dateOfBirth" type="date" class="form-control" formControlName="dateOfBirth">
      <div class="alert alert-danger" *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
        Date of birth is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">City:</label>
      <input id="city" type="text" class="form-control" formControlName="city">
      <div class="alert alert-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
        City of employment is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="salary" class="form-label">Salary:</label>
      <input id="salary" type="number" class="form-control" formControlName="salary">
      <div class="alert alert-danger" *ngIf="salary.invalid && (salary.dirty || salary.touched)">
        Salary is required and must be greater than 0.
      </div>
    </div>



    <div class="mb-3">
      <label for="gender" class="form-label">Gender:</label>
      <input id="gender" type="text" class="form-control" formControlName="gender">
      <div class="alert alert-danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
        Gender should be M, F or X.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input id="email" type="email" class="form-control" formControlName="email">
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        Wrong email format.
      </div>
    </div>

    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group me-2">
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>